@model List<SurveyWebApplication.Models.QuestionSet>

@{
    ViewBag.Title = "QuestionSet";
}

<style>
    

    .cards {
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        border-radius: 10px;
        /*-webkit-justify-content: center;
        justify-content: center;*/
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 15px;
        padding: 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

        .cards:hover {
            box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
        }
    .datagrid {
        width: 702px !important;
    }
  
</style>



<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1> Question Set</h1>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <div class=" cards " style="width: 80rem;">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="text-right pb-1">
                            <a href="@Url.Action("QuestionSetCreate", "QuestionSets")" class="easyui-linkbutton " data-options="iconCls:'icon-add'">Create</a>

                        </div>
                        <div class="card-body " style="width: 80rem;">
                            <table id="tbl" class="easyui-datagrid" title="Basic Question Set" data-options="method:'get'">
                                <thead>
                                    <tr>

                                        <th data-options="field:'SetName',width:'500px'"><b>Set Name</b></th>
                                        <th data-options="field:'CreateDate',width:'200px'"><b>CreateDate</b></th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
               
            </div>
        </div>
    </div>

</div>
<script>
    var data = @Html.Raw(ViewBag.JsonData)
 $('#tbl').datagrid({

     data:data,
 });

</script>