@model SurveyWebApplication.ModelViewInfo.Question

@{
    ViewBag.Title = "QuestionTitleList";
}

<div class="container">
    <div class="jumbotron">

        <div class="row card">
           
            <div class="col-md-12">
                <div class="row">
                    @if (TempData["massage"] != null)
                    {
                        <p class="alert alert-success">@TempData["massage"]</p>
                    }
                </div>
                <div class="text-right">
                    <a href="@Url.Action("CreateOptionType", "Questionnaire")" class="easyui-linkbutton "  data-options="iconCls:'icon-add'">Create</a>

                </div>
                <table id="tbl" class="easyui-datagrid" title="Basic Question"  data-options="method:'get'">
                    <thead>
                        <tr>
                            <th  data-options="field:'QuestionTitle',width:400"><b>OptionType Name</b></th>
                            <th data-options="field:'OptionTypeName',width:200"><b>OptionType Name</b></th>
                            
                        </tr>
                    </thead> 
                </table>

            </div>
            
        </div>
    </div>
</div>
<script>

   
        // Parse the JSON data passed from the controller
        var data = @Html.Raw(ViewBag.JsonData)

        // Create EasyUI data grid
        $('#tbl').datagrid({
            
            data: data,
            rowStyler: function(index,row){
                if (row.OptionTypeName == 'SingleSelected') {
                    return 'background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);color:#fff;font-weight:bold;';
                }
                else if (row.OptionTypeName == 'MultiSelected') {
                    return 'background: linear-gradient(90deg, hsla(260, 28%, 53%, 1) 0%, hsla(170, 42%, 71%, 1) 100%);color:#fff;font-weight:bold;';
                }
                else if (row.OptionTypeName == 'Text') {
                    return 'background: linear-gradient(90deg, hsla(97, 100%, 17%, 1) 0%, hsla(65, 14%, 83%, 1) 100%);color:#fff;font-weight:bold;';
                }
            }
        });






   
</script>