@{
    ViewBag.Title = "QuestionManages";
}

<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1>Survey Services</h1>
    </div>
    <form id="RRRf" method="post">

        <div class="card shadow-lg p-3 mb-5 bg-light rounded">
            <div class="row">
                <div class="col-md-3">
                    <input id="QuestionTitle" class="easyui-combobox " label="Question Title:" labelposition="top" style="width:100%;" name="QuestionId" placeholder="Select Option Type" data-options="valueField:'QuestionId',textField:'QuestionTitle',method:'Get', url:'GetQuestionList/QuestionManage'">

                </div>
                <div class="col-md-3">
                    <input id="optionNames" class="easyui-combobox " label="Question Type:" labelposition="top" style="width:100%;" name="OptionTypeId" placeholder="Select Option Type" data-options="valueField:'OptionTypeId',textField:'OptionTypeName',method:'Get', url:'OptionList/Question'">

                </div>
                <div class="col-md-2">
                    <input class="easyui-textbox dynamic-option" id="text1[]" name="OptionName[]" label="Option:" labelposition="top" style="width:100%;">

                </div>
                <div class="col-md-2 mt-4">
                    <div id="Checkid"></div>
                </div>
                <div class="col-md-2 mt-4 ">

                    <a class="easyui-linkbutton c1" id="addOption" name="addOption" style="width:100px">Add Option</a>
                </div>

            </div>
            <div id="rowadd">

            </div>


            <div class="row">

                <div id="rowid"></div>
                @*<input class="easyui-textbox" label="Description:" labelposition="top" multiline="true" style="width:100%;height:120px">*@

            </div>
            <div class="row mt-5">
                <div class="col-md-4"></div>
                <div class="col-md-2">

                    <button type="submit" class="easyui-linkbutton c1 " id="btnsubmit" style="width:120px">Save Question</button>

                </div>
            </div>
        </div>



    </form>

</div>
<script>


    $('#addOption').on('click', function () {
        var i = 0;

        var optionType = document.getElementById('optionNames').value;
        var inputtype = optionType == "1" ? "radio" : "checkbox";
        
        var optionHtml = '<div class="row"><div class="col-md-3"></div><div class="col-md-3"></div> <div class="col-md-2">' +
           ' <label class="textbox-label textbox-label-top" >Option:</label>' +
           '<input type="text" id="text1" class="easyui-textbox form-control dynamic-option" name="OptionName[' + i + ']" value="">' +
            ' </div> <div class="col-md-2 mt-4"><label>IsCurrect</label> <input type="' + inputtype + '" name="IsActive[' + i + ']" id="radio2" label="IsActive" class="IsActive easyui-' + inputtype + '">' +
                ' </div></div>';

        $('#rowadd').append(optionHtml);


    });


    function Add() {
        var x = document.getElementById("#addRow");
        x = '  <label for="name"><h4>Option Title   &nbsp;&nbsp;</h4></label><input class="easyui-textbox form-control " name="OptionName" style="width: 275px; height: 35px;">';
        $('#increseid').append(x);
    }



    $('#optionNames').combobox({
        onChange: function (newValue) {
            var x = document.getElementById('optionNames').value;
            if (x == '1') {
                $('#check1').hide();
                $('#check2').hide();
                x = '<label class="textbox-label textbox-label-before textbox-label-checked" id="radio1"  style="text-align: left; height: 20px; line-height: 20px;">IsCurrect:</label><input type="radio" name="IsActive" id="radio2" class="easyui-checkbox IsActive">';
                $('#Checkid').append(x);
            }
            else if (x == "2") {
                $('#radio1').hide();
                $('#radio2').hide();
                x = '<label class="textbox-label textbox-label-before textbox-label-checked" id="check1"  style="text-align: left; height: 20px; line-height: 20px;">IsCurrect:</label><input type="checkbox" name="IsActive" id="check2" class="easyui-checkbox IsActive">';
                $('#Checkid').append(x);
            }
            else if (x == '3') {
                $('#check1').hide();
                $('#check2').hide();
                $('#radio1').hide();
                $('#radio2').hide();
                $('#text1').hide();
                x = '<div class="col-md-4"><label class="textbox-label textbox-label-top" for="_easyui_textbox_input5" style="text-align: left; width: 186px;">Description:</label><input class="easyui-textbox textbox-f" label="Description:" labelposition="top" multiline="true" style="width: 100%; height: 120px; display: none;"><span class="textbox easyui-fluid" style="width: 186px; height: 90px;"><textarea id="_easyui_textbox_input5" class="textbox-text validatebox-text textbox-prompt" autocomplete="off" tabindex="" data-bs-original-title="" title="" placeholder="" style="margin: 0px; height: 88px; width: 100%;"></textarea><input type="hidden" class="textbox-value" value=""></span></div>';
                $('#rowid').append(x);
            }

        }

    });



    $('#optionNames').combobox({

        prompt: 'Select an OptionType',
        valueField: 'OptionTypeId',
        textField: 'OptionTypeName',
        url: 'OptionList/QuestionManage',
        onLoadSuccess: function (data) {
            console.log(data);
        }

    });

    $('#QuestionTitle').combobox({
        prompt: 'Select an Question Title',
        valueField: 'QuestionId',
        textField: 'QuestionTitle',
        url: 'GetQuestionList/QuestionManage',
        onLoadSuccess: function (data) {
            console.log(data);
        }
    });



    //$('#RRRf').form('submit',
    //   {

    //       url: 'QuestionCreate/QuestionManage'


    //   });
    $("#btnsubmit").click(function (e) {

        //Serialize the form datas.
        e.preventDefault();
        debugger;
        var optionEl =  document.getElementsByClassName("dynamic-option");
        var isCorrectEL = document.getElementsByClassName("IsActive");
        
        var model = {
            QuestionId: $('#QuestionTitle').val(),
            OptionTypeId: $('#optionNames').val(),
            OptionList: []

        };
        model.OptionList = [];
        for (let i = 0; i < optionEl.length; i++) {
            var optionName = optionEl[i].value;
            var isCor = isCorrectEL[i].checked;
            model.OptionList.push({
                OptionName: optionName,
                IsCorrect: isCor
            });
        }

        //$('.dynamic-option').each(function () {
        //    model.OptionList.push({
        //        OptionName: $(this).val(),
        //        IsActive: $(this).closest('.row').find(':input[type=radio], :input[type=checkbox]').is(':checked')
        //    });


       // });
        //debugger;

        //var model = [];
        //for (let i = 0; i < optionEl.length; i++) {
        //    var optionName = optionEl[i].value;
        //    var isCor = isCorrectEL[i].checked;

        //    model.push({
        //        QuestionId: $('#QuestionTitle').val(),
        //        OptionTypeId: $('#optionNames').val(),
        //        OptionName: optionName,
        //        IsCorrect: isCor
        //    });
        //}
        //to get alert popup
        console.log(model);

        //$.ajax({
        //    url: "/QuestionCreate/QuestionManage",
        //    data: model,
        //    type: "POST",
        //    dataType: "json",
        //    contentType: "application/json; charset=utf-8",
        //    success: function (response) {
        //    }
        //});

        debugger;
        //$.ajax({
        //    url: "QuestionCreate/QuestionManage",
        //    type: "POST",
        //    dataType: 'json',
        //    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        //    data: { 'model': model },
        //});
        model.OptionListstring = JSON.stringify(model.OptionList);

        $.ajax({
            type: "POST",
            url:  "QuestionCreate/QuestionManage",
            data:  model ,
            dataType: 'json',
            success: function(){
                //success code here
            },
            error: function(){
                //error code here
            }
        });
    });

</script>