@model List<SurveyWebApplication.ModelViewInfo.QuestionManage>

@{
    ViewBag.Title = "QuestionTitleList";
}

<style>
    .cards {
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        border-radius: 10px;
        /*-webkit-justify-content: center;
        justify-content: center;*/
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 15px;
        padding: 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

        .cards:hover {
            box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
        }
</style>



<div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1> Question List</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class=" cards " style="width: 80rem;">
                <div class="text-right">
                    <a href="@Url.Action("QuestionCreate", "Question")" class="easyui-linkbutton " data-options="iconCls:'icon-add'">Create</a>

                </div>
                <div class="card-body" style="width: 95rem;">
                    <table id="tbl" class="easyui-datagrid" title="Basic Question Set" data-options="method:'get'">
                        <thead>
                            <tr>
                                <th data-options="field:'QuestionTitle',width:'500px'"><b>Question Title</b></th>
                                 <th data-options="field:'SetName',width:'200px'"><b>SetName</b></th>
                                <th data-options="field:'OptionTypeName',width:'200px'"><b>OptionType Name</b></th>
                               

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var data = @Html.Raw(ViewBag.JsonData)
 $('#tbl').datagrid({

     data:data,
 });

</script>