@{
    ViewBag.Title = "Home Page";
}
@*<script src="~/Content/EasyUi/CustomQuestionCreate.js"></script>


<div class="container">
    <div class="jumbotron">
        <form id="ff" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="name">Question Title </label>
                </div>
                <div class="col-md-3">
                    <input class="easyui-textbox" style="width:275px">
                </div>
                </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="email">Option Type </label>
                </div>
                <div class="col-md-3">
                    <input id="optionName" class="easyui-combobox" name="dept"
                           data-options="valueField:'OptionId',textField:'OptionTypeName',url:'@Url.Action("GetOption", "OptionTypeController")'">
                </div>
            </div>

        </form>
    </div>
</div>*@

